<div class="message-container">
    <h3 class="title"><%= messageInfo.title %></h3>
    <div class="text"><%= messageInfo.message %></div>
    <div class="info">
        <span class="added">added the
             <% if (locals.currentUser?.member) { %>
                <%- messageInfo.added.toDateString() + ' at ' + messageInfo.added.toLocaleTimeString() %>
            <% } else { %>
                <% if (locals.currentUser) { %>
                    <a href="/join">unavailable</a>
                <% } else { %>
                    <a href="/login">unavailable</a>
                <% } %>
             <% } %>
        </span> By <span class="username"><i><%= locals.currentUser?.member ? messageInfo.firstname+ ' ' + messageInfo.lastname : `anonymous`  %></i></span> <%- locals.currentUser ? (messageInfo.member ? "<span class='member'>Member</span>" : "") : "" %> <%- locals.currentUser ? (messageInfo.admin ? "<span class='admin'>Admin</span>" : "") : "" %>
    </div>
    <% if (locals.currentUser?.admin) { %>
        <form action="/create/<%= messageInfo.messageid %>/delete" method="post"> <button onclick="confirm('do you want really delete this message ?')" type="submit">Delete This message</button></form>
    <% } %>
    </div>